mat-card {
  height: 100%;
  margin-top: 20px;
  margin: 8px;
  mat-card-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    .post-content {
      width: 60%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      .image-container {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        img {
          object-fit: cover !important;
          height: 40vh;
          width: 100%;
        }
      }
      .post-container {
      }
    }

    .map-content {
      padding-left: 20px;
      height: 70vh;
      width: 40%;
    }

    .map {
      width: 100%;
      height: 100%;
    }
  }
}
h1 {
  margin: 16px;
}
.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}

img {
  object-fit: cover;
}

mat-card:hover {
  cursor: pointer;
}
