<div class="container">
  <mat-card class="mat-elevation-z8">
    <form [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
      <mat-card-title>Create post</mat-card-title>
      <br />
      <mat-card-content>
        <div class="form-content">
          <mat-form-field appearance="outline" hideRequiredMarker="true">
            <mat-label>Post Type</mat-label>
            <mat-select formControlName="selectedValue">
              <mat-option
                *ngFor="let type of postTypes"
                [value]="type.toLowerCase()"
              >
                {{ type }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" hideRequiredMarker="true">
            <mat-label for="name">Name</mat-label>
            <input matInput type="text" formControlName="name"
          /></mat-form-field>

          <!-- <mat-form-field appearance="outline" hideRequiredMarker="true">
            <mat-label for="age">Age</mat-label>
            <input matInput type="text" formControlName="age"
          /></mat-form-field> -->

          <mat-form-field appearance="outline" hideRequiredMarker="true">
            <mat-label for="contacts">Contacts</mat-label>
            <input matInput type="text" formControlName="contacts"
          /></mat-form-field>

          <mat-form-field appearance="outline" hideRequiredMarker="true">
            <mat-label for="details">Details</mat-label>
            <textarea
              matInput
              type="textarea"
              formControlName="details"
            ></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline" hideRequiredMarker="true">
            <mat-label for="reward">Reward</mat-label>
            <input matInput type="text" formControlName="reward"
          /></mat-form-field>

          <h3>Location:</h3>
          <p>
            Latitude: {{ coordinates.lng.toFixed(3) }} Longitude:
            {{ coordinates.lat.toFixed(3) }}
          </p>
          <div>
            <h3>Post Image:</h3>
            <input
              style="display: none"
              type="file"
              class="file-input"
              [accept]="requiredFileType"
              (change)="onFileSelected($event)"
              #fileUpload
            />

            <div class="file-upload">
              {{ fileName || "No file uploaded yet." }}

              <button
                mat-mini-fab
                color="primary"
                class="upload-btn"
                (click)="fileUpload.click()"
              >
                <mat-icon>attach_file</mat-icon>
              </button>
            </div>
            <br />
            <!-- 
            <div class="progress">
              <mat-progress-bar
                class="progress-bar"
                mode="determinate"
                [value]="uploadProgress"
                *ngIf="uploadProgress"
              >
              </mat-progress-bar>

              <mat-icon
                class="cancel-upload"
                (click)="cancelUpload()"
                *ngIf="uploadProgress"
                >delete_forever</mat-icon
              >
            </div> -->
          </div>
          <button mat-raised-button color="accent" type="submit">Submit</button>
        </div>

        <div class="map-content">
          <div class="map" #map></div>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
