<div class="container">
  <mat-card class="mat-elevation-z8">
    <form [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
      <mat-card-title>Create post</mat-card-title>
      <br />
      <mat-card-content>
        <div class="form-content">
          <mat-form-field appearance="outline" hideRequiredMarker="true">
            <mat-label>Post Type</mat-label>
            <mat-select formControlName="selectedValue">
              <mat-option
                *ngFor="let type of postTypes"
                [value]="type.toLowerCase()"
              >
                {{ type }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" hideRequiredMarker="true">
            <mat-label for="address">Address</mat-label>
            <input matInput type="text" formControlName="address"
          /></mat-form-field>

          <mat-form-field appearance="outline" hideRequiredMarker="true">
            <mat-label for="age">Age</mat-label>
            <input matInput type="text" formControlName="age"
          /></mat-form-field>

          <mat-form-field appearance="outline" hideRequiredMarker="true">
            <mat-label for="contacts">Contacts</mat-label>
            <input matInput type="text" formControlName="contacts"
          /></mat-form-field>

          <mat-form-field appearance="outline" hideRequiredMarker="true">
            <mat-label for="details">Details</mat-label>
            <input matInput type="textarea" formControlName="details"
          /></mat-form-field>

          <mat-form-field appearance="outline" hideRequiredMarker="true">
            <mat-label for="reward">Reward</mat-label>
            <input matInput type="text" formControlName="reward"
          /></mat-form-field>

          <h3>Location:</h3>
          <p>
            Latitude: {{ coordinates.lng.toFixed(3) }} Longitude:
            {{ coordinates.lat.toFixed(3) }}
          </p>
          <button mat-raised-button color="accent" type="submit">Submit</button>
        </div>

        <div class="map-content">
          <div class="map" #map></div>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
