div {
  height: calc(100% - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  mat-card {
    top: -100px;
    width: 300px;
    padding: 40px;
    mat-card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
