<div class="bg-blue">
  <mat-card class="mat-elevation-z8">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-card-title> Register </mat-card-title>
      <br />
      <mat-card-content>
        <mat-form-field appearance="outline" hideRequiredMarker="true">
          <mat-label for="username">Username</mat-label>
          <input matInput type="text" formControlName="username"
        /></mat-form-field>

        <mat-form-field appearance="outline" hideRequiredMarker="true">
          <mat-label for="password">Password</mat-label>
          <input matInput type="password" formControlName="password"
        /></mat-form-field>

        <mat-form-field appearance="outline" hideRequiredMarker="true">
          <mat-label for="password">Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword"
        /></mat-form-field>
        <button mat-raised-button color="accent" type="submit" mat-button>
          Register
        </button>
      </mat-card-content>
    </form>
  </mat-card>
</div>
