<mat-toolbar color="accent">
  <span
    ><a
      *ngIf="isLogged()"
      class="navbar-title"
      [routerLink]="['/home']"
      routerLinkActive="router-link-active"
    >
      Lost and Found
    </a></span
  >
  <span
    ><a
      *ngIf="!isLogged()"
      class="navbar-title"
      [routerLink]="['/welcome']"
      routerLinkActive="router-link-active"
    >
      Lost and Found
    </a></span
  >
  <span class="toolbar-spacer"></span>
  <span
    ><a
      mat-button
      class="navbar-links bg-lost"
      [routerLink]="['/lost-items']"
      routerLinkActive="router-link-active"
    >
      Lost items
    </a></span
  >
  <span
    ><a
      mat-button
      class="navbar-links bg-found"
      [routerLink]="['/found-items']"
      routerLinkActive="router-link-active"
    >
      Found items
    </a></span
  >
  <span *ngIf="isLogged()"
    ><a
      mat-button
      class="navbar-links"
      [routerLink]="['/create-post']"
      routerLinkActive="router-link-active"
    >
      Create post
    </a></span
  >
  <span *ngIf="!isLogged()"
    ><a
      mat-button
      class="navbar-links"
      [routerLink]="['/register']"
      routerLinkActive="router-link-active"
    >
      Register
    </a></span
  >

  <span *ngIf="!isLogged()"
    ><a
      mat-button
      class="navbar-links"
      [routerLink]="['/login']"
      routerLinkActive="router-link-active"
    >
      Login
    </a></span
  >
  <span *ngIf="isLogged()"
    ><a
      mat-button
      class="navbar-links"
      routerLinkActive="router-link-active"
      (click)="logout()"
    >
      Logout
    </a></span
  >
</mat-toolbar>

<router-outlet></router-outlet>
