@import "~@angular/material/theming";
@import "~maplibre-gl/dist/maplibre-gl.css";
@include mat-core();
$my-app-primary: mat-palette($mat-blue, 200, 300, 900);
$my-app-accent: mat-palette($mat-light-blue, 600, 100, 800);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue, 600, 100, 800);
  $alternate-accent: mat-palette($mat-blue, 200, 300, 900);
  $alternate-theme: mat-light-theme($alternate-accent, $alternate-primary);
  @include angular-material-theme($alternate-theme);
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(221, 234, 252);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}
.container {
  margin: auto;
  max-width: 70%;
}

.bg-found:hover {
  background-color: lightgreen;
}

.bg-lost:hover {
  background-color: lightcoral;
}
