<div class="container">
  <h1>Found Items</h1>

  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div
        fxFlex="25%"
        fxFlex.xs="100%"
        fxFlex.sm="33%"
        *ngFor="let item of foundItems"
      >
        <mat-card
          class="mat-elevation-z4"
          [routerLink]="['/post', item.post.post_uuid]"
        >
          <img
            mat-card-image
            [src]="item.post.image ? item.post.image : 'assets/no_IMAGE.png'"
            height="300px"
            width="100px"
            alt="no data"
          />

          <mat-card-title> {{ item.post.name }}</mat-card-title>
          <mat-card-content>
            <p>{{ item.post.details }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
